[submodule "third_party/musl"]
	path = third_party/musl
	url = git://git.musl-libc.org/musl
[submodule "third_party/busybox"]
	path = third_party/busybox
	url = https://git.busybox.net/busybox
[submodule "third_party/rogue"]
	path = third_party/rogue
	url = https://github.com/Davidslv/rogue.git
[submodule "third_party/qemu"]
	path = third_party/qemu
	url = https://gitlab.com/qemu-project/qemu.git
[submodule "third_party/pico-sdk"]
	path = third_party/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "third_party/zexall"]
	path = third_party/zexall
	url = https://github.com/agn453/ZEXALL.git
[submodule "third_party/openocd"]
	path = third_party/openocd
	url = https://github.com/raspberrypi/openocd.git
	ignore = dirty
[submodule "third_party/esp-idf"]
	path = third_party/esp-idf
	url = https://github.com/espressif/esp-idf.git
