[submodule "third_party/musl"]
	path = third_party/musl
	url = git://git.musl-libc.org/musl
[submodule "third_party/busybox"]
	path = third_party/busybox
	url = https://git.busybox.net/busybox
[submodule "third_party/rogue"]
	path = third_party/rogue
	url = https://github.com/Davidslv/rogue.git
